<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJzSsEBTAY-Zi7G_5ddJ0LDn6Lvv7mNFU</string>
	<key>GCM_SENDER_ID</key>
	<string>423968387240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.detrumpezvous.app</string>
	<key>PROJECT_ID</key>
	<string>detrumpez-vous-site</string>
	<key>STORAGE_BUCKET</key>
	<string>detrumpez-vous-site.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423968387240:ios:277d761e6a45f4bdda129d</string>
</dict>
</plist>